@import '../../../../theme/sass/motumVariables';
  .itemGridHeader{
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      height: 30px;
      max-height: 100%;
      place-content: center space-between;
      align-items: center;
      //border-bottom: 3px solid #abc2ff;
      //background-color: #fbbc05;
  }
  .styleTitleHeader{
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      position: absolute;
      left: 40px;
      top: 15px;
  }
  .styleToolsHeader{
    width: 100px;
  }

  .dateDashlet{
    display: flex;
    position: absolute;
    right: 68px;
    top: 9px;
    font-size: 14.8px;
  }
  .iconCalendar{
    display: flex;
    position: absolute;
    right: 45px;
    top: 12px;
    color: $motum-light-blue;
    cursor: pointer;
  }
  .iconMenuContext{
    display: flex;
    position: absolute;
    right: 20px;
    top: 17px;
    color: $motum-light-blue;
    cursor: pointer;
    z-index: 101;
  }
  .itemGridContent{
      display: flex;
      //background-color: #709ee4;
      align-items: center;
      justify-content: center;
  }
  .itemGridFooter{
    flex-direction: row;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    place-content: center flex-end;
    -ms-flex-align: center;
    align-items: center;
    //background-color: green;
  }
  .styleIconFooter{
    flex-direction: row;
    box-sizing: border-box;
    
    display: flex;
  }
  .iconExpantFooter{
    padding: 10px;
    color: #c5c2c2;
    cursor: pointer;
  }
 
  .titleDashlet{
    text-align: center;
//    padding: 15px 0 5px 0;
    font-weight: bold;
    font-size: 15px;
  }
  .subTitleDashlet{
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
  }
  .chart{
    
    font-size: 11px;
    position: absolute;
    top: 100px;
    bottom: 15px;
  }		

  .hrDashlet{
    border: 1px solid $motum-light-blue;
    margin-top: 2px;
    margin-bottom: 12px;
  }
  .closeMenuDashlet{
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 212px;
    z-index: 1;
  }
  .amcharts-pie-slice {
    transform: scale(1);
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    cursor: pointer;
    box-shadow: 0 0 30px 0 #000;
  }
  
  .amcharts-pie-slice:hover {
    transform: scale(1.1);
    filter: url(#shadow);
  }	
  

  .configDate{
		background: #fff !important;  
		border: none !important; 
		outline: none !important;
    text-align: right !important;
    margin-top: 7px !important;
    width: 163px;
	}


	.configDate:focus{
		background: #fff !important; 
		border: none !important; 
		outline: none !important;
	}
