<ng-template #modalSendInvitation let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="motum-modal-icon">
        <i class="motum-i tm-mu tm-mensajes changeofpropertiesmessage"></i>
      </div>
      <h5 class="modal-title">{{ header | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ content | translate }} ejemplo@bwl.com {{ contents | translate }}</p>
    </div>
    <div class="modal-footer longbutton">
      <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ accept | translate }}</button>
    </div>
</ng-template>


<div #backdrop class="any">
  <div class="formClient"> 
  <div [@slideHiddenShow] = 'windowState' #window class="window-edit">
    <div class="window-lt">
      <div class="window-header">
        <div class="row" *ngIf="editar">
          <div >
            <div class="avatar {{setColorAvatar}}">{{initials}}</div>
          </div>
          <div >
            <div class="nameUser">{{ edit | translate }}</div>
            <div class="rolUser">{{clientModel.rol}}</div>
          </div>
        </div>
        <div class="row" *ngIf="!editar">
          <div >
            <div class="avatarNew"><i class="motum-i tm-u tm-new-user userIcon "></i></div>
          </div>
          <div >
            <div class="nameUserNew">{{ title | translate }}</div>
          </div>
        </div>
      </div>
      <ngb-tabset #t="ngbTabset" [justify]="'end'"  >

        <ngb-tab id="tabCliente" title="{{ viaje | translate }}">

          <ng-template ngbTabContent>
            <div class="window-body">
              <div class="section-head">
                <p class="section-title motum-title-form" *ngIf="editar">{{ editClientTrans | translate }}</p>
                <p class="section-title motum-title-form" *ngIf="!editar">{{ createClientTrans | translate }}</p>
                <hr class="window-section-space motum-hr-head-form">
              </div>
              <div class="section-body">
                <form (ngSubmit)="createClient()"  class="ng-untouched ng-pristine ng-valid">
                  <div class="row window-body-margin">
                    <div class="col-md-6 col-sm-12 motum-content-left-form">
                        <label class="window-bold-style motum-subtitle-form in-form">{{ companyInformation | translate }}</label>
                      <div class="row motum-label-form">
                        <div class="col-md-12 spaceTitle">
                          <label for="inputComercialName">{{ begin | translate }}</label>
                        </div>
                        <div class=" col-md-12 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.comercialName" type="date" class="form-control input-sm" id="inputComercialName" [ngModelOptions]="{standalone: true}" required>
                            
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form">
                        <div class="col-md-12">
                          <label for="inputBusinessName">{{ end | translate }}</label>
                        </div>
                        <div class=" col-md-12 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.businessName" type="date" class="form-control input-sm" id="inputBusinessName" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                      </div>

                      <div class="row motum-label-form">
                          <div class="col-sm-9">
                            <div class="has-success motum-input-form">
                              <label for="inputCountry" >{{ operador | translate }}</label>
                              <select name="" id="inputCountry" class="form-control input-sm">
                                <option></option>
                                <option>México</option>
                                <option>Canadá</option>
                                <option>Peru</option>
                                <option>Alemania</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      
                      <div class="row motum-label-form">
                          <div class="col-sm-9">
                            <div class="has-success motum-input-form">
                              <label for="inputCountry" >{{ unidad | translate }}</label>
                              <select name="" id="inputCountry" class="form-control input-sm">
                                <option></option>
                                <option>México</option>
                                <option>Canadá</option>
                                <option>Peru</option>
                                <option>Alemania</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        
                      <div class="row motum-label-form">
                        <div class="col-sm-9">
                          <div class="has-success motum-input-form">
                            <label for="inputCountry" >{{ remolque1 | translate }}</label>
                            <select name="" id="inputCountry" class="form-control input-sm">
                              <option></option>
                              <option>México</option>
                              <option>Canadá</option>
                              <option>Peru</option>
                              <option>Alemania</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row motum-label-form moreSpace">
                          <div class="col-sm-12">
                            <div class="has-success motum-input-form">
                              <label for="inputState">{{ dolly | translate }}</label>
                              <select name="inputState" id="inputState" class="form-control input-sm">
                                <option></option>
                                <option>Veracruz</option>
                                <option>Puebla</option>
                                <option>Puebla</option>
                                <option>Nuevo León</option>
                                <option>Baja California</option>
                              </select>
                            </div>
                          </div>
                        </div>
  
                      
                      <div class="row motum-label-form moreSpace">
                        <div class="col-sm-12">
                          <div class="has-success motum-input-form">
                            <label for="inputState">{{ remolque2 | translate }}</label>
                            <select name="inputState" id="inputState" class="form-control input-sm">
                              <option></option>
                              <option>Veracruz</option>
                              <option>Puebla</option>
                              <option>Puebla</option>
                              <option>Nuevo León</option>
                              <option>Baja California</option>
                            </select>
                          </div>
                        </div>
                      </div>
<!--
                      <div class="row motum-label-form space">
                        <div class="col-sm-12">
                          <div class=" has-success motum-input-form">
                            <label for="inputCity">{{ city | translate }}</label>
                            <select name="inputCity" id="inputCity" class="form-control input-sm">
                              <option></option>
                              <option>Orizaba</option>
                              <option>Rio Blanco</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    -->
                    </div>
                    <hr class="motum-hr-separator"> 
                    <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                      <div class="window-left-margin">

                        <div class="row motum-label-form">
                          <div class="col-md-12">
                            <label for="inputColony">{{ beginDet | translate }}</label>
                          </div>
                          <!--
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.colony" type="text" class="form-control input-sm" id="inputColony" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        -->
                        </div>
                        <div class="row motum-label-form">
                          <div class="col-md-12">
                            <label for="inputMunicipality">{{ endDet | translate }}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                           <!-- <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.municipality" type="text" class="form-control input-sm" id="inputMunicipality" [ngModelOptions]="{standalone: true}" required>
                            </div> -->
                          </div>
                        </div>
                        <div class="row motum-label-form">
                          <div class="col-md-8  col-sm-12 spaceTelPadding">
                            <div class=" has-success motum-input-form motum-intl-tel-input">
                              <label for="">{{ operadorDet | translate }}</label><br>
                            <!--
                              <motum-intl-tel-input [id]="'tm-intl-tel-input-fixed'"
                              [cssClasses]="'form-control input-sm'"></motum-intl-tel-input>
                            -->
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <div class=" has-success motum-input-form">
                             <!-- <label for="inputnumberExtension">{{ unidadDet | translate }}</label><br>
                              <input [(ngModel)]="clientModel.numberExtension" type="text" class="form-control input-sm" id="inputnumberExtension" [ngModelOptions]="{standalone: true}" required>
                             -->
                            </div>
                          </div>
                        </div>

                        <div class="row motum-label-form">
                            <div class="col-md-8  col-sm-12 spaceTelPadding">
                              <div class=" has-success motum-input-form motum-intl-tel-input">
                                <label for="">{{ unidadDet | translate }}</label><br>
                              <!--
                                <motum-intl-tel-input [id]="'tm-intl-tel-input-fixed'"
                                [cssClasses]="'form-control input-sm'"></motum-intl-tel-input>
                              -->
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                              <div class=" has-success motum-input-form">
                               <!-- <label for="inputnumberExtension">{{ unidadDet | translate }}</label><br>
                                <input [(ngModel)]="clientModel.numberExtension" type="text" class="form-control input-sm" id="inputnumberExtension" [ngModelOptions]="{standalone: true}" required>
                               -->
                              </div>
                            </div>
                          </div>
  

                        <div class="row motum-label-form space">
                          <div class="col-md-8  col-sm-12 spaceTelPadding">
                            <div class="has-success motum-input-form motum-intl-tel-input">
                              <label for="">{{ remolque1Det | translate }}</label><br>
                            <!--  <motum-intl-tel-input [id]="'tm-intl-tel-input'"
                              [cssClasses]="'form-control input-sm'"></motum-intl-tel-input>
                            -->
                          </div>
                          </div>

                          <div class="col-sm-10 motum-label-form space">
                            <div class="has-success motum-input-form">
                              <label for="inputServer">{{ dollyDet | translate }}</label>
                             <!-- <select name="inputServer" id="inputServer" class="form-control">
                                <option></option>
                              </select> -->

                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form space">
                          <div class="col-md-12">
                            <label for="inputSector">{{ remolque2Det | translate }}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                           <!-- <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.sector" type="text" class="form-control input-sm" id="inputSector" [ngModelOptions]="{standalone: true}" required>
                            </div> -->
                          </div>
                        </div>
                        <!--
                        <div class="row motum-label-form">
                          <div class="col-md-12">
                            <label for="inputMarketSegment">{{ marketSegment | translate}}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.marketSegment" type="text" class="form-control input-sm" id="inputMarketSegment" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form moreSpace">
                          <div class="col-md-12">
                            <label for="inputDivision">{{ division | translate }}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.division" type="text" class="form-control input-sm" id="inputDivision" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form moreSpace">
                          <div class="col-md-12">
                            <label for="inputEmployeeNumber">{{ employeeNumber | translate }}</label>
                          </div>
                          <div class="col-md-10 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.employeeNumber" type="text" class="form-control input-sm" id="inputEmployeeNumber" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        </div>
                        -->
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="section-footer">
                <div class="row">
                  <div class="col-md-9 hidden-md-down">
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" routerLink="/pages/usersControl/clients-products" (click) ="toggle(true, null)" class="motum-btn-delete btn btn-primary window-btn-size motum-btn cancel">{{ cancel | translate}}</button>
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" class="btn btn-primary window-btn-size motum-btn next" (click)="t.select('tabFacturacion')">{{ next | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="tabFacturacion" title="{{ ruta | translate }}">

          <ng-template ngbTabContent>
            <div class="window-body">
              <div class="section-head motum-margin-bottom-one">
                <p class="section-title motum-title-form" *ngIf="editar">{{ editClientTrans | translate }}</p>
                <p class="section-title motum-title-form" *ngIf="!editar">{{ createClientTrans | translate }}</p>
                <hr class="window-section-space hrSectionHead">

              </div>
              <div class="section-body">
                <form (ngSubmit)="createClient()"  class="ng-untouched ng-pristine ng-valid">
                  <div class="row window-body-margin">
                    <div class="col-md-6 col-sm-12 motum-content-left-form">
                        <label class="window-bold-style motum-subtitle-form in-form">{{ fiscalData | translate}}</label>
                        <div class="row radiOptions motum-radio-btn-billing">
                            <div class="col-md-12 col-sm-12">
                              <div class="form-check">
                                <label ><input type="radio" name="radioFiscalPhysicalPerson" id="radioFiscalPhysicalPerson" value="option1" (click)="radioBotton1(flagCheck1)" [checked]="flagCheck1"><span class="overlay"></span>{{ physicalPerson | translate}}</label>
                              </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <div class="form-check">
                                <label ><input type="radio" name="radioFiscalMoralPerson" id="radioFiscalMoralPerson" value="option2" (click)="radioBotton2(flagCheck2)" [checked]="flagCheck2"><span class="overlay"></span>{{ moralPerson | translate}}</label>
                              </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-check">
                                  <label ><input type="radio" name="radioBusinessActivity" id="radioBusinessActivity" value="option3" (click)="radioBotton3(flagCheck3)" [checked]="flagCheck3"><span class="overlay"></span>{{ physicalPersonWithBusiness | translate}}</label>
                                </div>
                            </div>
                        </div>
                      <div class="row motum-label-form space">
                        <div class="col-md-12 spaceTitle">
                          <label for="inputFiscalComercialName">{{ tradeName | translate }}</label>
                        </div>
                        <div class=" col-md-12 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.fiscalComercialName" type="text" class="form-control input-sm" id="inputFiscalComercialName" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form">
                        <div class="col-md-12">
                          <label for="inputFiscalBusinessName">{{ businessName | translate }}</label>
                        </div>
                        <div class=" col-md-12 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.fiscalBusinessName" type="text" class="form-control input-sm" id="inputFiscalBusinessName" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                      </div>
                      <div  class="row motum-label-form">
                        <div class="col-md-12">
                          <label for="inputFiscalRfc">{{ rfc | translate }}</label>
                        </div>
                        <div class="col-md-9 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.fiscalRfc" type="text" class="form-control input-sm" id="inputFiscalRfc" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form">
                        <div class="col-md-12">
                          <label for="inputFiscalStreet">{{ street | translate }}</label>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.fiscalStreet" type="text" class="form-control input-sm" id="inputFiscalStreet" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form">
                        <div class="col-md-5" style="padding-right: 0px;">
                          <label for="inputInternalNumberCompany">{{ outdoorNumber | translate }}</label>
                        </div>
                        <div class="col-md-6" style="padding-left: 17px; margin-left: -2px;">
                          <label for="inputExternalNumberCompany">{{ indoorNumber | translate }}</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class=" col-md-4 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.internalNumberCompany" type="text" class="form-control input-sm" id="inputInternalNumberCompany" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-12 offset-md-1">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.externalNumberCompany" type="text" class="form-control input-sm" id="inputExternalNumberCompany" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form">
                        <div class="col-sm-9">
                          <div class="has-success motum-input-form">
                            <label for="inputCountry" >{{ countryRegion | translate }}</label>
                            <select name="" id="inputCountry" class="form-control input-sm">
                              <option></option>
                              <option>México</option>
                              <option>Canadá</option>
                              <option>Peru</option>
                              <option>Alemania</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form space">
                        <div class="col-md-9">
                          <label for="inputZipCode">{{ postalCode | translate }}</label>
                        </div>
                        <div class="col-md-9 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.zipCode" type="text" class="form-control input-sm" id="inputZipCode" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="motum-hr-separator">
                    <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                      <div class="window-left-margin">
                        <div class="row motum-label-form">
                          <div class="col-sm-12">
                            <div class="has-success motum-input-form">
                              <label for="inputFiscalState">{{ state | translate }}</label>
                              <select name="inputFiscalState" id="inputFiscalState" class="form-control input-sm">
                                <option></option>
                                <option>Veracruz</option>
                                <option>Puebla</option>
                                <option>Puebla</option>
                                <option>Nuevo León</option>
                                <option>Baja California</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form space">
                          <div class="col-sm-12">
                            <div class="has-success motum-input-form">
                              <label for="inputFiscalCity">{{ city | translate }}</label>
                              <select name="inputFiscalCity" id="inputFiscalCity" class="form-control input-sm">
                                <option></option>
                                <option>Orizaba</option>
                                <option>Rio Blanco</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form space">
                          <div class="col-md-12 ">
                            <label for="inputFiscalColony">{{ colony | translate }}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.fiscalColony" type="text" class="form-control input-sm" id="inputFiscalColony" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form">
                          <div class="col-md-12">
                            <label for="inputFiscalMunicipality">{{ delegationMunicipality | translate }}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.fiscalMunicipality" type="text" class="form-control input-sm" id="inputFiscalMunicipality" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form space">
                            <div class="col-sm-9">
                              <div class="has-success motum-input-form">
                                <label for="inputBillingPeriod">{{ billingPeriod | translate }}</label>
                                <select name="inputBillingPeriod" id="inputBillingPeriod" class="form-control input-sm">
                                  <option></option>
                                  <option>Mensual</option>
                                  <option>Anual</option>
                                </select>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="section-footer">
                <div class="row">
                  <div class="col-md-8 hidden-md-down">
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" routerLink="/pages/usersControl/clients-products" (click) ="toggle(true, null)" class="motum-btn-delete btn btn-primary window-btn-size motum-btn cancel">{{ cancel | translate}}</button>
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" class="motum-btn-delete btn btn-primary window-btn-size  motum-btn" (click)="t.select('tabCliente')">{{ back | translate}}</button>
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="submit" class="btn btn-primary window-btn-size motum-btn next" (click)="t.select('tabCuenta')">{{ next | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </ngb-tab>
<!--
        <ngb-tab id="tabCuenta" title="{{ account | translate }}">

          <ng-template ngbTabContent>
            <div class="window-body">
              <div class="section-head motum-margin-bottom-two">
                <p class="section-title motum-title-form" *ngIf="editar">{{ editClientTrans | translate }}</p>
                <p class="section-title motum-title-form" *ngIf="!editar">{{ createClientTrans | translate }}</p>
                <hr class="window-section-space hrSectionHead">

              </div>
              <div class="section-body">
                <form (ngSubmit)="createClient()"  class="ng-untouched ng-pristine ng-valid">
                  <div class="row window-body-margin">
                    <div class="col-md-6 col-sm-12 motum-content-left-form">
                        <label class="window-bold-style motum-subtitle-form in-form">{{ accountInformation | translate }}</label>
                      <div class="row motum-label-form">
                        <div class="col-md-12 spaceTitle">
                          <label for="inputAccountName">{{ name | translate }}</label>
                        </div>
                        <div class=" col-md-12 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.accountName" type="text" class="form-control input-sm" id="inputAccountName" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form">
                        <div class="col-md-12">
                          <label for="inputAccountLastName">{{ surnames | translate }}</label>
                        </div>
                        <div class=" col-md-12 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.accountLastName" type="text" class="form-control input-sm" id="inputAccountLastName" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>

                      </div>
                      <div class="row motum-label-form">
                        <div class="col-md-9  col-sm-12">
                          <div class="has-success motum-input-form motum-intl-tel-input">
                            <label for="">{{ landline | translate }}</label><br>
                            <motum-intl-tel-input [id]="'tm-intl-tel-input-account'"
                            [cssClasses]="'form-control input-sm'" class="listFlag"></motum-intl-tel-input>
                          </div>
                        </div>
                      </div>
                      <div  class="row motum-label-form space">
                        <div class="col-md-12">
                          <label for="inputAccountEmail">{{ emailAccount | translate }}</label>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <input [(ngModel)]="clientModel.accountEmail" type="text" class="form-control input-sm" id="inputAccountEmail" [ngModelOptions]="{standalone: true}" required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="motum-hr-separator">
                    <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                      <div class="window-left-margin">

                        <div class="row motum-label-form">
                          <div class="col-md-12">
                            <label for="inputAccountPosition">{{ position | translate }}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.accountPosition" type="text" class="form-control input-sm" id="inputAccountPosition" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form">
                          <div class="col-md-12">
                            <label for="inputAccountDepartment">{{ department | translate }}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.accountDepartment" type="text" class="form-control input-sm" id="inputAccountDepartment" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        </div>

                        <div class="row radiOptions motum-radio-btn">
                          <div class="col-md-12 col-sm-12">
                            <div class="form-check">
                              <label ><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" (click)="send(flagCheckAccount)" [checked]="flagCheckAccount"><span class="overlay"></span>{{ sendInvitation | translate }}</label>
                            </div>
                          </div>

                          <div class="col-md-12 col-sm-12">
                            <div class="form-check">
                              <label ><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" (click)="createPassUser(flagCreatePassUser)" [checked]="flagCreatePassUser"><span class="overlay"></span>{{ createUserAndPass | translate }}</label>
                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form radioNameUser animated fadeIn" *ngIf="flagCreatePassUser">
                          <div class="col-md-12">
                            <label for="inputAccountUsername">{{ username | translate }}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.accountUsername" type="text" class="form-control input-sm" id="inputAccountUsername" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        </div>
                        <div class="row motum-label-form animated fadeIn" *ngIf="flagCreatePassUser">
                          <div class="col-md-12">
                            <label for="inputAccountPassword">{{ passwordAccount | translate }}</label>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <input [(ngModel)]="clientModel.inputAccountPassword" type="text" class="form-control input-sm" id="inputAccountPassword" [ngModelOptions]="{standalone: true}" required>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" *ngIf="(flagCreatePassUser && !editar)" class="sendInvitation animated fadeIn">
                          <button type="button" class="btnSendInvitation">{{ generatePass | translate }}</button>
                        </div>
                        <div class="col-md-12" *ngIf="(flagCreatePassUser && editar)" class="sendInvitation animated fadeIn">
                          <button type="button" class="btnSendInvitation">{{ restorePassword | translate }}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="section-footer">
                <div class="row">
                  <div class="col-md-8 hidden-md-down">
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" routerLink="/pages/usersControl/clients-products" (click) ="toggle(true, null)" class="motum-btn-delete btn btn-primary window-btn-size motum-btn cancel">{{ cancel | translate}}</button>
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" class="motum-btn-delete btn btn-primary window-btn-size motum-btn" (click)="t.select('tabFacturacion')">{{ back | translate}}</button>
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="submit" class="btn btn-primary window-btn-size motum-btn next" (click)="t.select('tabPermisos'); sendInvitationModal(modalSendInvitation)">{{ next | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </ngb-tab>

        <ngb-tab id="tabPermisos" title="{{ permissions | translate }}">
          <ng-template ngbTabContent>
            <div class="window-body permissions">
              <div class="section-head">
                <p class="section-title motum-title-form" *ngIf="editar">{{ editClientTrans | translate }}</p>
                <p class="section-title motum-title-form" *ngIf="!editar">{{ createClientTrans | translate }}</p>
                <hr class="window-section-space hrSectionHead">

              </div>
              <div class="section-body">
                  <label class="window-bold-style motum-subtitle-form">{{ productsPlatforms | translate }}</label>
                <div class="row" [style.marginBottom.px]="3">
                  <div class="col-md-6 col-sm-6">
                    <label class="title-list-one window-bold-style">{{ available | translate }}</label>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <label class="title-list-two window-bold-style">{{ selected | translate }}</label>
                  </div>
                </div>
                <dual-list class="custom-double-list" [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"
                [(destination)]="confirmed" [format]="format" [disabled]="disabled"></dual-list>
                <div class="window-section-double-space"></div>
                <div class="table-responsive table-style-motum">
                  <table class="table table-striped">
                    <thead class="thead-light">
                      <tr class="m-0">
                        <th class="w-25">{{ platforms | translate }}</th>
                        <th class="w-75">{{ roles | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of confirmed">
                        <td>
                          {{item.plataform}}
                        </td>
                        <td>
                          <select2 class="select2Permits"  id="selectPermits"  ngDefaultControl [options]="optionsPermits" [width]="'100%'" [cssImport]=true  required>
                            <option *ngFor="let item2 of item.permissions">{{item2.permission}}</option>
                          </select2>
                        </td>
                      </tr>
                      <ng-template [ngIf]="confirmed.length < 1">
                        <tr *ngFor="let item of confirmedDummi">
                          <td>
                            {{item.plataform}}
                          </td>
                          <td>
                            <select2 class="select2Permits"  id="selectPermits"  ngDefaultControl [options]="optionsPermits" [width]="'100%'" [cssImport]=true  required>
                              <option value=" " *ngFor="let item2 of item.permissions">{{item2.permission}}</option>
                            </select2>
                          </td>
                        </tr>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="section-footer">
                <div class="row">
                  <div class="col-md-8 hidden-md-down">
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" routerLink="/pages/usersControl/clients-products" (click) ="toggle(true, null)" class="motum-btn-delete btn btn-primary window-btn-size motum-btn cancel">{{ cancel | translate}}</button>
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" class="motum-btn-delete btn btn-primary window-btn-size motum-btn" (click)="t.select('tabCuenta')">{{ back | translate}}</button>
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="submit" class="btn btn-primary window-btn-size motum-btn next" (click)="t.select('tabInterfaz')">{{ next | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="tabInterfaz" title="{{ interface | translate }}">

          <ng-template ngbTabContent>
            <div class="window-body">
              <div class="section-head motum-margin-bottom-one">
                <p class="section-title motum-title-form" *ngIf="editar">{{ editClientTrans | translate }}</p>
                <p class="section-title motum-title-form" *ngIf="!editar">{{ createClientTrans | translate }}</p>
                <hr class="window-section-space motum-hr-head-form">

              </div>
              <div class="section-body">
                <form id="formInterfaz" (ngSubmit)="createClient()"  class="ng-untouched ng-pristine ng-valid">
                  <div class="row window-body-margin">
                    <div class="col-md-6 col-sm-12 motum-content-left-form">
                        <label class="window-bold-style motum-subtitle-form in-form">{{ regionalConfiguration | translate}}</label>
                      <div class="row motum-label-form ">
                        <div class="col-md-9 spaceTitle">
                          <div class="has-success motum-input-form">
                            <label for="inputConfigCountry">{{ countryRegion | translate}}</label>
                            <select name="inputConfigCountry" id="inputConfigCountry" class="form-control input-sm">
                                <option></option>
                                <option>México</option>
                                <option>España</option>
                                <option>EUA</option>
                                <option>Brasil</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form space-interface">
                        <div class="col-md-12">
                          <div class="has-success motum-input-form">
                            <label for="inputConfigState">{{ state | translate}}</label>
                            <select name="inputConfigState" id="inputConfigState" class="form-control input-sm">
                                <option></option>  
                                <option>Veracruz</option>
                                <option>Oaxaca</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form space-interface">
                        <div class="col-md-12">
                          <div class="has-success  motum-input-form">
                            <label for="inputConfigCity">{{ city | translate}}</label>
                            <select name="inputConfigCity" id="inputConfigCity" class="form-control input-sm">
                                <option></option>
                                <option>Orizaba</option>
                                <option>Juchitán</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form space">
                        <div class="col-md-12 ">
                          <label for="">{{ unitSystem | translate}}</label>
                        </div>
                        <div class="col-md-9 col-sm-12 window-section-space">
                          <div class="form-group has-success has-feedback motum-btn-group">
                            <div class="btn-group btnGroup" (click)="onButtonGroupClick($event)">
                              <button type="button" class="btn motum-botton">{{ metric | translate}}</button>
                              <button type="button" class="btn motum-botton">{{ measuresUSImperial | translate}}</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 ">
                          <label for="">{{ measurementOfFuelConsumption | translate}}</label>
                        </div>
                        <div class="col-md-12 col-sm-12 window-section-space">
                          <div class="form-group has-success has-feedback motum-btn-group">
                            <div class="btn-group btnGroup" (click)="onButtonGroupClick($event)">
                              <button type="button" class="btn motum-botton">L/100km</button>
                              <button type="button" class="btn motum-botton">Km/L</button>
                              <button type="button" class="btn motum-botton">MPG (US)</button>
                              <button type="button" class="btn motum-botton">MPG (Imp)</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form space-date-format">
                        <div class="col-md-9">
                          <div class="has-success motum-input-form">
                            <label for="inputConfigDateFormat">{{ dateFormat | translate}}</label>
                            <select name="inputConfigDateFormat" id="inputConfigDateFormat" class="form-control input-sm">
                                <option></option>
                                <option>mm/dd/aaa</option>
                                <option>dd/mm/aaa</option>
                                <option>aa/mm/dd</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form space-interface">
                        <div class="col-md-9">
                          <div class="has-success motum-input-form">
                            <label for="inputConfigHourFormat">{{ hourFormat | translate}}</label>
                            <select name="inputConfigHourFormat" id="inputConfigHourFormat" class="form-control input-sm">
                                <option></option>
                                <option>hh:mm:ss tt</option>
                                <option>hh:mi:ss</option>
                                <option>hhmi</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form space-interface">
                        <div class="col-md-9">
                          <div class="has-success motum-input-form">
                            <label for="inputConfigTimeZone">{{ timeZone | translate}}</label>
                            <select name="inputConfigTimeZone" id="inputConfigTimeZone" class="form-control input-sm">
                                <option></option>
                                <option>UTC-6 Mexico City</option>
                                <option>UTC–7</option>
                                <option>UTC-8</option>
                                <option>UTC-5</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row motum-label-form space-interface">
                        <div class="col-md-9">
                          <div class="has-success motum-input-form">
                            <label for="inputConfigCoin">{{ coin | translate}}</label>
                            <select name="inputConfigCoin" id="inputConfigCoin" class="form-control input-sm">
                                <option></option>
                                <option>Peso Mexicano (MXN)</option>
                                <option>Dólar estadounidense (USD)</option>
                                <option>Euro (€)</option>
                                <option>Libra esterlina (£)</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="motum-hr-separator">
                    <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                      <div class="row window-left-margin">

                        <div class="col-md-10  col-sm-12 motum-label-form">
                          <div class="has-success motum-input-form">
                            <label for="inputConfigLanguage">{{ language | translate}}</label>
                            <select name="inputConfigLanguage" id="inputConfigLanguage" class="form-control input-sm">
                                <option></option>
                                <option>Español</option>
                                <option>Inglés</option>
                                <option>Hindi</option>
                                <option>Árabe</option>
                                <option>Portugués</option>
                                <option>Bengalí</option>
                                <option>Ruso</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-12  motum-label-form space">
                          <label for="">{{ weekStartsIn | translate}}</label>
                        </div>
                        <div class="col-sm-10 window-section-space">
                          <div class="form-group has-success has-feedback motum-btn-group">
                            <div class="btn-group btnGroup" (click)="onButtonGroupClick($event)">
                              <button type="button" class="btn motum-botton">{{ sunday | translate}}</button>
                              <button type="button" class="btn motum-botton">{{ monday | translate}}</button>
                              <button type="button" class="btn motum-botton">{{ saturday | translate}}</button>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <hr class="hrContentRight">
                        </div>

                        <label class="window-section-space window-bold-style motum-subtitle-form">{{ userInterfaceConfiguration | translate}}</label>
                        <div class="col-md-10  col-sm-12 motum-label-form space">
                          <div class="has-success motum-input-form">
                            <label for="inputConfigInitPage">{{ homepage | translate}}</label>
                            <select name="inputConfigInitPage" id="inputConfigInitPage" class="form-control input-sm">
                                <option></option>
                                <option>Dashboard</option>
                                <option>monitoring-and-reaction</option>
                                <option>usersControl</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-10  col-sm-12 motum-label-form space">
                          <div class="has-success motum-input-form">
                            <label for="inputConfigLogOut">{{ logOut | translate}}</label>
                            <select name="inputConfigLogOut" id="inputConfigLogOut" class="form-control input-sm">
                                <option></option>
                                <option>15 min</option>
                                <option>30 min</option>
                                <option>1 h</option>
                                <option>2 h</option>
                            </select>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="section-footer">
                <div class="row">
                  <div class="col-md-8 hidden-md-down">
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" routerLink="/pages/usersControl/clients-products" (click) ="toggle(true, null)" class="motum-btn-delete btn btn-primary window-btn-size motum-btn cancel">{{ cancel | translate}}</button>
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="button" class="motum-btn-delete btn btn-primary window-btn-size motum-btn" (click)="t.select('tabPermisos')">{{ back | translate}}</button>
                  </div>
                  <div class="col-md-1 col-sm-4">
                    <button type="submit" form="formInterfaz" class="btn btn-primary window-btn-size motum-btn save">{{ save | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      -->
      </ngb-tabset>
    </div>
  </div>
  </div>
</div>
