<div id='title' >
 <div class="content-top clearfix">
   <ul class="breadcrumb al-breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs; let i = index" class="breadcrumb-item">
      <label class="al-title" *ngIf="i==0" translate>{{ breadcrumb.label }}</label>
      <label *ngIf="i > 0 && i !== breadcrumbs.length-1" translate>{{ breadcrumb.label }}</label>
      <label class = "final" *ngIf="i !== 0 && i == breadcrumbs.length-1" translate>{{ breadcrumb.label }}</label>
    </li>
  </ul>
  </div>
</div>
