<div class="motum-cover-all-container">

    <div class="motum-grid-container m-cover"><!-- First level -->
        <div class="motum-grid-item m-row-12 m-column-12"><!-- First level -->

            <div class="motum-grid-container m-cover motum-relative-container"><!-- Second level -->

                <div class="motum-grid-item m-row-12 m-column-12 m-item-z-index-5">
                    <agm-map #motumAgm style="width: 100%; height: 100%;"
                             [latitude]="latitude"
                             [longitude]="longitude"
                             [zoom]="zoom"
                             [styles]="mapStyles"
                             [zoomControl]="zoomControl"
                             [streetViewControl]="streetViewControl"
                             (zoomChange)="zoomChange($event)">
                        <agm-marker *ngFor="let unitMarker of unitMarkers"
                                    [latitude]="unitMarker.lat"
                                    [longitude]="unitMarker.lng"></agm-marker>
                    </agm-map>
                </div>

                <div class="motum-absolute-menu" *ngIf="displayUnitMenuComponent">
                    <div class="motum-grid-container m-cover" (propertyChangeWindows)="openFilteringTools($event)"><!-- Third level -->

                        <!--Here goes our components-->
                        <mr-list-units
                             [ngClass]="['motum-grid-item', MR_HTML_CLASSES.MENU_1, 'm-item-z-index-5 background-menu']"
                             [listUnits]="unitMarkers"
                             [groups]="groups"
                             [changeIconColor]="sendChangeIconColor"
                             (sendUnit)="sendUnit($event)"
                             (openFiltering)="openFiltering($event)"></mr-list-units>

                        <mr-filtering-options *ngIf="flagFilterin"
                                [ngClass]="['motum-grid-item', MR_HTML_CLASSES.SUBMENU_1, 'm-item-z-index-6 background-menu']"
                                (closeFiltering)="closeFiltering($event)"></mr-filtering-options>

                        <mr-vehicle-description *ngIf="flagUnitDataVehicle"
                                                [ngClass]="['motum-grid-item', MR_HTML_CLASSES.SUBMENU_1, 'm-item-z-index-5 background-menu']"
                                                [unitInformation]="unitDataVehicle"
                                                (closeVehicleDescription)="closeVehicleDescription($event)"></mr-vehicle-description>

                        <chat-detail-motum-component *ngIf="flagUnitDataVehicle && isChatDetail"
                          [ngClass]="['motum-grid-item', MR_HTML_CLASSES.SUBMENU_2, 'm-item-z-index-6 background-menu']"
                          (closeChatDetail) = (closeChatDetail())
                          [circleColor] = "colorCircleDetail">
                        </chat-detail-motum-component>
                    </div><!-- End Third level -->
                </div>

                <div class="motum-fixed-map-tools m-item-z-index-5">
                    <mr-tool-map-control-component [mapElement]="_el"></mr-tool-map-control-component>
                    <mr-zoom-control-component (clickedButton)="motumZoomControls($event)"></mr-zoom-control-component>
                </div>

            </div><!-- End Second level -->

        </div><!-- End First level -->
    </div><!-- End First level -->

</div>
