<div [class]="changeClassModal">
    <div class="section-flex">
        <div class="scroll-content-info">
      
          <div class="section-flex-config">
      
            <div class="titlesection">
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">
                    <b>Información Mecánica</b>
                </div>
                <div class="col-md-1 col-sm-1"></div>
              </div>
            <hr>
            
                <div class="row">
                  <div class="col-md-6 col-sm-6 change-property-col-md-6">
                    <a class="titletext">Marca:</a><strong>Freightliner</strong><br>
                    <a class="titletext">Año:</a> <strong>2018</strong><br>
                    <a class="titletext">Marca motor:</a> <strong>EPA 04</strong><br>
                    <a class="titletext">Año: </a><strong>2018</strong><br>
                  </div>
                  <div class="col-md-6 col-sm-6 change-property-col-md-6">
                    <a class="titletext">Modelo:</a> <strong>M2 25k</strong><br>
                    <a class="titletext">Placas:</a><strong>YCK 2246</strong><br>
                    <a class="titletext">Modelo motor:</a> <strong>MBE9424</strong><br>
                    <a class="titletext">Horas motor:</a> <strong>144h</strong><br>
                  </div>
                </div>
      
              <div class="row"> 
                <div class="col-md-12 col-sm-12 change-property-col-md-6"> 
                   <div style="column-gap: 40px; column-count: 1;">
                      <a class="titletext">VIN:</a><strong class="column-width">3AKJA6BG4CDBF8265</strong>
                   </div>
                    <a class="titletext">Marca Transmisión:</a> <strong>Mercedez Benz</strong><br>
                    <a class="titletext">Modelo Transmisión:</a> <strong>MBT520S-06</strong><br>
                    <a class="titletext">Frenos:</a><strong>Detroit AF-8.0</strong><br>
                    <a class="titletext">Odómetro:</a> <strong>10.000 km</strong><br>
                    <a class="titletext">Combustible:</a> <strong>25 L</strong><br>
                    <a class="titletext">Mtto. preventivo:</a><strong>Realizado</strong><br>
                    <a class="titletext">Trasnsportista:</a> <strong>Lorem Ipsum</strong><br>
                    <a class="titletext">Operación:</a> <strong>Dedicado</strong><br>
                    <a class="titletext">Estado de diagnóstico:</a> <strong>Instalada</strong><br>
                </div>
              </div>


              <div class="row">
                <div class="body-secction-vehicle">
                  <b>Salud vehícular</b>
                  <hr>
                  <div class="btn-group">
                        <button class="btn-vehicle-pistachio color-pistachio">2</button>
                        <button class="change-button color-green">2</button>
                        <button class="change-button color-yellow">2</button>
                        <button class="change-right-button color-red">2</button>
                  </div>
                </div>
            </div>

            <div class="position-container-group-btn">
              <div class="row">
                <div class="col-md-6 col-sm-6 change-property-col-md-6">
                  <button class="colorimetry-indicator color-red"></button><span class="titletext">Probale daño mayor</span><br>
                  <button class="colorimetry-indicator color-green"></button><a class="titletext" >Mtto. Pronto</a><br>
                </div>
      
                <div class="col-md-6 col-sm-6 change-property-col-md-6">
                  <button class="colorimetry-indicator color-yellow"></button><a class="titletext">Mtto. Ahora</a><br>
                  <button class="colorimetry-indicator color-pistachio"></button><a class="titletext">Óptima</a><br>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     
        
      
        <div class="section-flex-end-footter">
          <div class="position-bottom-group">
            <button class="motum-btn next chage-property-btn-left">Salud de flotas</button> 
            <button [class]="changeClass" (click)="openActiveFaults(damper)">Fallas activas</button>
          </div>
         
          
        </div>
       
  
    </div>

