<div class="section-flex-config">

  <div class="scroll-content-info">
    <div class="section-flex">
      <div class="titlesection-operator">
        <b>{{'pages.monitoringreaction.operator.operator' | translate}}</b>
        <hr>
        <a class="titletext">{{'pages.monitoringreaction.operator.name' | translate}}:</a> <strong> Juan Lara</strong><br>
        <a class="titletext">{{'pages.monitoringreaction.operator.employeenumber' | translate}}:</a><strong> 222 </strong><br>
        <a class="titletext">{{'pages.monitoringreaction.operator.company' | translate}}:</a><strong> Flestes HESA</strong><br>
        <a class="titletext">{{'pages.monitoringreaction.operator.assignedvehicle' | translate}}:</a><strong> 38411</strong><br>
        <a class="titletext">{{'pages.monitoringreaction.operator.rol' | translate}}:</a><strong> Operador</strong><br>
        <a class="titletext">{{'pages.monitoringreaction.operator.comments' | translate}}:</a>
      
        <div  class="body-secction-position">
        <b>{{'pages.monitoringreaction.operator.contact' | translate}}</b>
        <hr>
        <strong>{{'pages.monitoringreaction.operator.address' | translate}}:
          Calle abcd, número 2, col. abcdenfth CP, 94733, Orizaba, Ver.
        </strong><br>
        <a class="titletext">{{'pages.monitoringreaction.operator.phone' | translate}}:</a><strong> 272 123 22 44 </strong><br>
        <a class="titletext">{{'pages.monitoringreaction.operator.email' | translate}}:</a><strong> juanlara@abcd.com.mx</strong><br>
        </div>
      </div>
    </div>
  </div>


  <div class="section-flex-end-footter">
    <div class="position-bottom-group">
      <button class="motum-btn next change-property-btn-left">{{'pages.monitoringreaction.operator.sendmessage' | translate}}</button>
      <button class="motum-btn save change-property-btn-right" >{{'pages.monitoringreaction.operator.assignoperator' | translate}}</button>    
    </div>
  </div>

</div>

