<lu-options></lu-options>
  <div class="content">
    <div class="header col-md-12 col-sm-12">
        <div class="row">
            <div class="col-md-9 col-sm-9 vehicleColor">
                {{ vehicles | translate}}
            </div>
            <div class="col-md-3 col-sm-3">
                <hr class="window-section-separator iconPosition hr">
                <div class="col-md-1 col-sm-1 iconPosition slider" (click)="openFilteringOptions()"> 
                    <span class="motum-i tm-opt-filter slider {{changeIconColor}}"></span>
                </div>
            </div>
        </div>
        <div class="row inputsRow">
            <div class="col-md-7 col-sm-7 has-feedback has-success motum-search-input">
                <input id="inputSuccess2"
                type="text"
                class="form-control search-input-form"
                placeholder="{{ search | translate}}"
                aria-describedby="inputSuccess2Status">
                <i class="motum-i tm-u tm-search form-control-feedback font-size-search" aria-hidden="true"></i>
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
            </div>
            <div class="col-md-5 col-sm-5 inputGroup">
                <div class="has-success motum-input-form">
                    <select name="" id="inputCountry" class="form-control input-sm select">
                        <option>{{ allTheGroups | translate }}</option>
                        <option *ngFor="let group of groups">{{ group.label }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="order">
      <div class="header col-md-12 col-sm-12">
          <div class="row">
              <div class="col-md-3 col-sm-3 sortBy">
                {{ sortByTrans | translate}}
              </div>
              <div class="col-md-8 col-sm-8 orderList">
                <ul class="wrap">
                  <li *ngFor="let item of sortBy">
                    <a href="">{{ item.name | translate}}</a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
  </div>
<div class="listUnits">
    <div class="paddingList col-md-12 col-sm-12" *ngIf="flagPointsInterest">
        <div class="row rowListUnits" *ngFor="let unit of listUnits; let i = index" (click)="sendUnitData(unit)">
            <div class="col-md-2 col-sm-2">
                <div class="avatarNew {{unit.status.code}}"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <span class="warning"><i class="fa fa-exclamation-triangle iconWarning" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-10 col-sm-10 unit">
                <div class="truncateTitle" title="{{ unit.economicNumber }} - {{ unit.group }} - {{ unit.operationalState}}">
                   {{ unit.economicNumber }} - {{ unit.group.label }} - {{ unit.operationalState}}
                </div>
                <div class="truncateAddress">
                        {{unit.status.label}} en {{ unit.address.city }} {{ unit.address.state }} {{ unit.address.country }}
                </div>
                <div class="truncate">
                    <div class="operatorName truncateText">{{ unit.operatorName }}</div>
                    <div class="speed">- {{ unit.speed }} {{ unit.measurementUnit }} - {{ unit.lastDate }} </div>
                </div>
                <span *ngIf="unit.pointInterest.code != 'null' &&  unit.pointInterest.code != ''" class="motum-i tm-tack tack" [ngStyle]="{'color': unit.pointInterest.color}"></span>
                <span class="arrow"><span class="motum-i tm-compass-rose motum-rotate-{{unit.directionGrade}}"></span></span>
            </div>
                <hr class="mr-hr-list-units">
        </div>
    </div>
</div>
