<div class="auth-main">


  <header class="container-logo-title">

    <img [src]="iconLogin">
    <div class="header-seccion">
      <p>{{ 'pages.login.login' | translate}}</p>
    </div>
</header>

<article class="container-login">
      <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
         <div class="input-group">
          <input [formControl]="email" type="email" id="inputSuccess2" [ngClass]="{ 'someinput': (!goSesion || goSesion) , 'select-input': (!goSesion || goSesion) , 'input-validate': (email.valid), 'transparent-section': (email.valid && goSesion)}" 
          placeholder="{{ 'pages.login.email' | translate }}"
          >
          <span  class="form-control-feedback center-icon" [hidden]="!goSesion"><i class="motum-i tm-u tm-edit"></i></span>
          <div *ngIf="dangeremail" class="danger-user">{{'pages.login.dangeremail' | translate}}</div>
          <div *ngIf="warningemail" class="warning-user">{{'pages.login.warningemail' | translate}}</div>
         </div>
       

          <div *ngIf="goSesion">
            <div class="input-group">
                <input [formControl]="password" [type]="isPassword ? 'password' : 'text' " [ngClass]="{ 'somepass': (goSesion), 'someinput': (!isPassword), 'safaripass': (goSesion), 'safarinput': (!goSesion || !isPassword)  ,'select-input': (goSesion) }"  id="inputPassword3"
                placeholder="{{ 'pages.login.password' | translate }}">
                <span class="form-control-feedback change-eye-color center-icon" (click)="statusChange()" >
                
                  <i *ngIf="isPassword" class="motum-i tm-eye-on change-eye-color" aria-hidden="true"></i>
                    <i *ngIf="!isPassword" class="motum-i tm-eye-off change-eye-color" aria-hidden="true"></i>
                </span>
                <div  *ngIf="dangerpass" class="danger-pass">{{'pages.login.dangerpass' | translate}}</div>
                <div  *ngIf="warningpass" class="warning-pass">{{'pages.login.warningpass' | translate}}</div>
            </div>
           
          
          </div>
          <div *ngIf="recapcha" class="captcha">
            <re-captcha (resolved)="resolved($event)" siteKey="6LcezFUUAAAAAJRzOMGlaK96sXuMu8g9uHTsqE_m"></re-captcha>
          </div>
          <button class="button-login" type="submit"  *ngIf="goSesion">{{'pages.login.session' | translate}}</button>
          <button class="button-login" type="submit" *ngIf="!goSesion">{{'pages.login.continuebutton' | translate}}</button>
        </form>
      </div>
</article>



   <footer class="footter">


      <div class="focus-problems">
          <p>{{ 'pages.login.problems' | translate}}</p>
        </div>


      <div class="footter-container">
          <div class="top-footter">
              <span id="top-footter-left">{{ 'pages.login.registry' | translate }}</span>
                <i class="fa circle-bullet-top" aria-hidden="true"></i>
              <select  [(ngModel)]="selectValue" (click)="changeLanguage(selectValue)" id="top-footter-right">
                  <option value="es">{{'pages.login.spanishlanguage' | translate }}</option>
                  <option value="en">{{ 'pages.login.englishlanguage' | translate }}</option>
              </select>
          </div>
      
          <div class="bottom-footter">
              <a routerLink="!#" id="bottom-footter-left" class="underlined">{{ 'pages.login.terms' | translate}}</a>
              <i class="fa circle-bullet-bottom" aria-hidden="true"></i>
              <a routerLink="!#" id="buttom-footter-right" class="underlined">{{ 'pages.login.politics' | translate }}</a>
          </div>
      </div>
   </footer>

  
</div>

