<div class="dropdown">
    <i class="fa fa-file-o fa-lg headFile" data-toggle="dropdown" aria-hidden="true" (click)="subMenuTemplates = false"></i>
    
    <div class="dropdown-menu dropdown-menu-right menuFile animated fadeIn">

            <div class="col-md-12 col-sm-12 spaceBottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                              <div class="avatar"><i class="fa fa-file-o" aria-hidden="true"></i></div>
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <div class="contentTitles">
                                  <div class="title">
                                      Rame
                                  </div>
                                  <div class="subTitle">
                                      DAIMLER
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                              <div class="arrowMenu">
                                <i class="fa fa-angle-{{subMenuTemplates ? 'up' : 'down'}} fa-2x" aria-hidden="true" (click)="subMenuTemplates = !subMenuTemplates"></i>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                  <hr class="hrTemplates">


                  <div class="subMenuTemplates animated fadeIn" *ngIf="subMenuTemplates">
                      <div class="col-md-12 col-sm-12 spaceBottom">
                          <div class="container">
                              <div class="row spaceRow">
                                  <div class="col-md-3 col-sm-3">
                                    <div class="avatar"><i class="fa fa-file-o" aria-hidden="true"></i></div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                      <div class="contentTitles">
                                          <div class="title">
                                              Rame
                                          </div>
                                          <div class="subTitle">
                                              DAIMLER
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <div class="iconDelete  animated fadeIn">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <div class="iconDelete  animated fadeIn">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <div class="iconDelete  animated fadeIn">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                              </div>
                              <div class="row spaceRow">
                                  <div class="col-md-3 col-sm-3">
                                    <div class="avatar"><i class="fa fa-file-o" aria-hidden="true"></i></div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                    <div class="contentTitles">
                                        <div class="title">
                                            Rame
                                        </div>
                                        <div class="subTitle">
                                            DAIMLER
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-md-1 col-sm-1">
                                      <div class="iconDelete  animated fadeIn">
                                          <i class="fa fa-pencil" aria-hidden="true"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-1 col-sm-1">
                                      <div class="iconDelete  animated fadeIn">
                                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-1 col-sm-1">
                                      <div class="iconDelete  animated fadeIn">
                                          <i class="fa fa-plus" aria-hidden="true"></i>
                                      </div>
                                  </div>
                              </div>
                
                              <div class="row spaceRow">
                                  <div class="col-md-3 col-sm-3">
                                    <div class="avatar"><i class="fa fa-file-o" aria-hidden="true"></i></div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                    <div class="contentTitles">
                                        <div class="title">
                                            Rame
                                        </div>
                                        <div class="subTitle">
                                            DAIMLER
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-md-1 col-sm-1">
                                      <div class="iconDelete  animated fadeIn">
                                          <i class="fa fa-pencil" aria-hidden="true"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-1 col-sm-1">
                                      <div class="iconDelete  animated fadeIn">
                                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-1 col-sm-1">
                                      <div class="iconDelete  animated fadeIn">
                                          <i class="fa fa-plus" aria-hidden="true"></i>
                                      </div>
                                  </div>
                              </div>
                
                              <div class="row spaceRow">
                                  <div class="col-md-3 col-sm-3">
                                    <div class="avatar"><i class="fa fa-file-o" aria-hidden="true"></i></div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                    <div class="contentTitles">
                                        <div class="title">
                                            Rame
                                        </div>
                                        <div class="subTitle">
                                            DAIMLER
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-md-1 col-sm-1">
                                      <div class="iconDelete  animated fadeIn">
                                          <i class="fa fa-pencil" aria-hidden="true"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-1 col-sm-1">
                                      <div class="iconDelete  animated fadeIn">
                                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                                      </div>
                                  </div>
                                  <div class="col-md-1 col-sm-1">
                                      <div class="iconDelete  animated fadeIn">
                                          <i class="fa fa-plus" aria-hidden="true"></i>
                                      </div>
                                  </div>
                              </div>
                
                
                          </div>
                          
                        </div>
                      <hr class="hrTemplates">
                  </div>


                  <div class="col-md-12 col-sm-12 spaceBottom">
                      <div class="container">
                          <div class="row">
                            <div class="col-md-3 col-sm-3">
                              <div class="newTemplate"><i class="fa fa-plus-square-o" aria-hidden="true"></i></div>
                            </div>
                            <div class="col-md-9 col-sm-9">
                              <div class="createContentTitles">
                                <div class="createTemplateTitle">
                                  Crear nuevo dashboard
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>

    </div>
</div>

