.motum-intl-tel-input{
    .intl-tel-input .selected-flag .iti-flag{
      margin-left: -4.22px !important;
      //bottom: 1px !important;
    }
    .intl-tel-input .selected-flag .iti-arrow{
      right: 34.214px !important;
    }
    .intl-tel-input.separate-dial-code .selected-dial-code{
      font-size: 10px !important;
      //padding-left: 30.811px !important;
      padding-left: 27.811px !important;
      display: table-cell !important;
      vertical-align: middle !important;
      //line-height: 19px !important;
    }
    .intl-tel-input.separate-dial-code.iti-sdc-2 .selected-flag{
      width: 68px !important;
    }
    .intl-tel-input.separate-dial-code.iti-sdc-3 .selected-flag{
      width: 68px !important;
    }
    .intl-tel-input.separate-dial-code.iti-sdc-4 .selected-flag{
      width: 68px !important;
    }
    .intl-tel-input.separate-dial-code.iti-sdc-5 .selected-flag{
      width: 68px !important;
    }
    .intl-tel-input.separate-dial-code .selected-flag{
      background-color: rgba(0, 0, 0, 0) !important;
    }
    .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input{
      padding-left: 54px !important;
      padding-right: 0px !important;
      height: 20px !important;
      font-size: 10px !important;
    }
    .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input{
      //padding-left: 60px !important;
      height: 20px !important;
      padding-left: 56px !important;
      padding-right: 0px !important;
      line-height: 20px !important;
      font-size: 10px !important;
    }
    .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input{
      padding-left: 64px !important;
      padding-right: 0px !important;
      height: 20px !important;
      font-size: 10px !important;
    }
    .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input{
      padding-left: 69px !important;
      padding-right: 0px !important;
      height: 20px !important;
      font-size: 10px !important;
    }
  }


