<div class="section-flex-config">
  <div class="scroll-content-info">
        <div class="titlesection-travelinformation">
          <b>{{'pages.monitoringreaction.travelinformation.travelinformation' | translate}} #14224413</b>
          <hr class="title-separator">
          <a class="titletext">{{'pages.monitoringreaction.travelinformation.origin' | translate}}:</a><strong> Orizaba. Ver. México</strong><br>
          <a class="titletext">{{'pages.monitoringreaction.travelinformation.destination' | translate}}:</a><strong> Navojoa, Son., México </strong><br>
          <a class="titletext">{{'pages.monitoringreaction.travelinformation.route' | translate}}:</a><strong> Ruta 1 (México 15D)</strong><br>
          <a class="titletext">{{'pages.monitoringreaction.travelinformation.distance' | translate}}:</a><strong> 2344 km (1457 mi)</strong><br>
          <a class="titletext">{{'pages.monitoringreaction.travelinformation.traveltime' | translate}}:</a><strong> 21 horas 15minutos</strong><br>
          <a class="titletext">{{'pages.monitoringreaction.travelinformation.tea' | translate}}:</a><strong> 23 horas 47 minutos</strong>

      </div>
  </div>

 
            <div class="scroll-content-info-section">
                <div class="position-container-element-content">
                    <div class="col-md-12 col-sm-12">
                        <hr>
                        <div *ngFor="let data of heroes">
                            <div *ngIf="data.label === 'finviaje' ">
                                <div class="position-center-section-content">
                                    <strong>{{data.name}}</strong><a class="titletext">  {{data.fecha}}, {{data.hora}}</a>
                                </div>  
                                <div class="total-hours-traveled">
                                    <a class="titletext">  {{data.timetotal}}</a>
                                </div>                               
                                <ul class="timeline-list">
                                    <div *ngFor="let dataprueba of data.data">
                                      
                                        <li *ngIf="dataprueba.lastEvent === 'finished' " class="full">
                                            <a class="titletext">{{dataprueba.title}}</a>
                                        </li>
                                        <li *ngIf="dataprueba.lastEvent === 'movement' " class="empty">
                                            <a class="titletext">{{dataprueba.title}}</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                            <div *ngIf="data.label === 'detenido'">
                                <hr>
                                <ul class="timeline-list-arrested">
                                    <li>
                                        <div class="change-padding-bootstrap-title">
                                           <strong>{{data.name}}</strong><a class="titletext">  {{data.fecha}}, {{data.hora}}</a>
                                        </div>
                                    </li>
                                </ul>
                            </div><!---->
                            <div *ngIf="data.label === 'intravel'"> 
                                <hr>
                                <div class="position-center-section-content">
                                    <strong>{{data.name}}</strong><a class="titletext">  {{data.fecha}}, {{data.hora}}</a>
                                 </div>
                                 <div class="total-hours-traveled">
                                        <a class="titletext">  {{data.timetotal}}</a>
                                 </div> 
                                <ul class="timeline-list">
                                    <div *ngFor="let dataprueba of data.data">
                                            <li *ngIf="dataprueba.lastEvent === 'finished' " class="full">
                                                <a class="titletext">{{dataprueba.title}}</a>
                                            </li>
                                            <li *ngIf="dataprueba.lastEvent === 'movement' " class="empty">
                                                <a class="titletext">{{dataprueba.title}}</a>
                                            </li>
                                    </div>
                                </ul>
                            </div>

                            <div *ngIf="data.label === 'inicioviaje'">
                                <hr>
                                    <div class="position-center-section-content">
                                        <strong>{{data.name}}</strong><a class="titletext">  {{data.fecha}}, {{data.hora}}</a>
                                     </div>
                                     <div class="total-hours-traveled">
                                            <a class="titletext">  {{data.timetotal}}</a>
                                    </div> 
                                    <ul class="timeline-list">
                                        <div *ngFor="let dataprueba of data.data">
                                            <li *ngIf="dataprueba.lastEvent === 'finished' " class="full">
                                                <a class="titletext">{{dataprueba.title}}</a>
                                            </li>
                                            <li *ngIf="dataprueba.lastEvent === 'movement' " class="empty">
                                                <a class="titletext">{{dataprueba.title}}</a>
                                            </li>
                                        </div>
                                    </ul>
                            </div>



                            <div *ngIf="data.label === 'apagado' ">
                                    <hr>
                                    <div class="position-time-off">
                                        <a class="titletext">{{data.time}}</a>  
                                    </div>
                                    <ul class="timeline-list-off">
                                        <li>
                                            <div class="change-padding-bootstrap-title">
                                             <strong>{{data.name}}</strong><a class="titletext">  {{data.fecha}}, {{data.hora}}</a>
                                            </div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    <hr>
                </div>
            </div>
      </div>  


  <div class="section-flex-end-footter">
      <div class="position-bottom-group">
        <button class="motum-btn next chage-property-btn-left">{{'pages.monitoringreaction.travelinformation.plannedroute' | translate}}</button>
        <button class="motum-btn save chage-property-btn-right">{{'pages.monitoringreaction.travelinformation.routetraveled' | translate}}</button>    
      </div>
    </div>

</div>