  
 <div class="section-flex">
<div class="scroll-content-info">
 
 
  <div class="section-flex-config">

  
    
    
    <div class="titlesection">
    <b>{{'pages.monitoringreaction.positionvehicle.position' | translate}}</b>
    <hr>
    <strong>Parque Industrial, Navojoa, Son., México.</strong><br>
    <strong>45 Km/h-22/06/2018 - 17:22:00 h  <img src="../../../../../assets/img/theme/icon/monitoringReaction/location.svg" class="change-property-img motum-rotate-{{compassRose}}"></strong><br>
    <a class="titletext">{{'pages.monitoringreaction.positionvehicle.operator' | translate}}:</a><strong>Juan Lara</strong><br>
    <a class="titletext">{{'pages.monitoringreaction.positionvehicle.ignition' | translate}}:</a> <strong>Encendido</strong><br>
    <a class="titletext">{{'pages.monitoringreaction.positionvehicle.signalsource' | translate}}:</a> <strong>Satelital</strong><br>
    <strong><i class="ion-arrow-down-c" ></i> Saliendo de Caseta de cobro</strong>

    <div class="body-secction-vehicle">
      <b>{{'pages.monitoringreaction.positionvehicle.vehicle' | translate}}</b>
      <hr>
      <a class="titletext">{{'pages.monitoringreaction.positionvehicle.brand' | translate}}:</a> <strong>Volvo</strong>
      <a class="titletext strong-position-right-model">{{'pages.monitoringreaction.positionvehicle.model' | translate}}:<strong> 12345 </strong></a><br>
      <a class="titletext">{{'pages.monitoringreaction.positionvehicle.year' | translate}}:</a><strong>2018</strong>
      <a class="titletext strong-position-right-plates">{{'pages.monitoringreaction.positionvehicle.plates' | translate}}:<strong>YCK 2246</strong></a><br>
      <a class="titletext">{{'pages.monitoringreaction.positionvehicle.trailer1' | translate}}:</a><strong>YCK-22-24</strong><br>
      <a class="titletext">{{'pages.monitoringreaction.positionvehicle.dollytrailer' | translate}}:</a><strong>YCK-33-34</strong><br>
      <a class="titletext">{{'pages.monitoringreaction.positionvehicle.trailer2' | translate}}:</a><strong>YCK-44-45</strong>
    </div>

    <div class="body-secction-vehicle">
      <b>{{'pages.monitoringreaction.positionvehicle.sensors' | translate}}</b>
      <hr>
      <a class="titletext">{{'pages.monitoringreaction.positionvehicle.temperature' | translate}}:</a><strong>1234</strong><br>
      <a class="titletext">{{'pages.monitoringreaction.positionvehicle.doors' | translate}}:</a> <strong> Abiertas</strong>
    </div>

    <div class="body-secction-vehicle">
      <b>{{'pages.monitoringreaction.positionvehicle.groups' | translate}}</b>
      <hr>
      <div class="d-flex justify-content-between">
            <button class="btn-vehicle-active">HESA</button>
            <button class="btn-vehicle space-btn-vehicle">GRUPO2</button>
            <button class="btn-vehicle">GRUPO3</button>
            <button class="btn-vehicle space-btn-vehicle1">GRUPO4</button>
      </div>
    </div>

    </div>
  </div>

</div>


<div class="section-flex-end-footter">
    <button class="motum-btn save btn-position-right">{{'pages.monitoringreaction.positionvehicle.currenttrip' | translate}}</button>
</div>

</div>
