<div class="section-flex">
  <div class="scroll-content-info">
    <div class="section-flex-config">
      <div class="titlesection">  
          <b>Dispositivo</b>
              <hr>
               <div class="strong-position-left-text">
                    <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.brand' | translate}}:</a> <strong>abcdef</strong><br>
                    <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.maker' | translate}}:</a><strong>2018</strong><br>
                    <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.serviceplan' | translate}}:</a><strong>ProPlus</strong><br>
               </div>
              <div class="strong-position-right-text">
                <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.model' | translate}}:<strong> 12345 </strong></a><br>
                <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.serialnumber' | translate}}:<strong> 1234DFV23 </strong></a><br>  
              </div>
          <div class="col-md-12 col-sm-12">
           
             <div class="position-content-seccion-data">
                <b>{{'pages.monitoringreaction.vehicle-configuration.noticestothedriver' | translate}}</b>
                <hr>
                <div class="row">
                    <div class="col-md-12 col-sm-12"> 
                        <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.devicebeep' | translate}}:</a><strong>Encendido</strong><br>
                        <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.reminderdriverid' | translate}}:</a><strong>Apagado</strong><br>
                        <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.whistleidle' | translate}}:</a><strong>Apagado</strong><br>
                        <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.securitywarning' | translate}}:</a><strong>Encendido</strong><br>
                        <strong>Comienzo: 150 km/h</strong><strong>Fin: 126 km/h</strong><br>
                        <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.beepindangerousdriving' | translate}}:</a><strong>Encendido</strong><br>
                        <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.seatbeltwhistle' | translate}}:</a><strong>Encendido</strong><br>
                        <a class="titletext">{{'pages.monitoringreaction.vehicle-configuration.drivingbeepingreversing' | translate}}:</a><strong>Encendido</strong>
                    </div>
                </div>
              </div>
              
          </div>
      </div>
    </div>
  </div>



  <div class="section-flex-end-footter">
      <div class="position-bottom-group">
        <button class="motum-btn save chage-property-btn">{{'pages.monitoringreaction.vehicle-configuration.configuredevice' | translate}}</button>
      </div>
    </div>
</div>